{% extends 'base.html' %}

{% block page_title %}Register{% endblock %}

{% block content %}
    <div class="container d-flex justify-content-center align-items-center vh-100">
        <div class="row justify-content-center w-75">
            <div class="col-md-6">
                <div class="card shadow-lg">
                    <div class="card-header bg-primary text-white text-center">
                        <h4>Register</h4>
                    </div>
                    <div class="card-body justify-content-center">
                        {% include 'components/form.html' with form=form submit_action='Register' %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}